<div class="page-wrapper">
  <div class="pv-40 dark-translucent-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <div class="form-block center-block p-30 light-gray-bg border-clear">
              Profil de: <%= current_user.email%>
              <div class="col-lg-4">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="overlay-container">
                    <a class="overlay-link popup-img-single" href= "" <i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                    </div>
                  </div>
                  <div class="body">
                    <%@orders.each do |o|%>
                    <h3><a href="#">Order N°<%= o.id %></a></h3>
                    <div class="elements-list clearfix">
                      <span class="price"><%= o.price %> $</span>
                    </div>
                    <br />
                    <% end %>
                  </div>
                </div>
              </div>
              <a href="/users/edit" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Edit Profil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
